*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/aplicacao/ControleEstoque/build/
/aplicacao/ControleEstoque/dist/
/aplicacao/ControleEstoque/nbproject/private/private.properties
/aplicacao/ControleEstoque/nbproject/private/private.xml